{% include 'admin_header.html' %}
<center>
<h1  style="color: white">View Class</h1>

	<table class="table"  style="width:500px ;color: white">
		<tr>
			<th>Class</th>
			<th>Date</th>
			<th>Time</th>
			<th>Link</th>
			
		</tr>
		{% for i in data['view'] %}
		<tr>
			<td>{{i['class']}}</td>
			<td>{{i['date']}}</td>
			<td>{{i['time']}}</td>
			<td>{{i['link']}}</td>
			
			<td><a  class="btn btn-success"  href="admin_viewstudenteng?cid={{i['class_id']}}">View User Engaged</a></td>
			<td><a  class="btn btn-success"  href="admin_viewstaffeng?cid={{i['class_id']}}">View Staff Engaged</a></td>
		</tr>
		{% endfor %}
	</table>
</form>

</center>
{% include 'footer.html' %}