{% include 'admin_header.html' %}
<center>
<h1  style="color: white">View Users</h1>

	<table class="table"  style="width:500px ;color: white">
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Place</th>
			<th>Phone</th>
			<th>Email</th>
			
		</tr>
		{% for i in data['view'] %}
		<tr>
			<td>{{i['fname']}}</td>
			<td>{{i['lname']}}</td>
			<td>{{i['place']}}</td>
			<td>{{i['phone']}}</td>
			<td>{{i['email']}}</td>

			{% if i['usertype']=="pending"%}

			<td><a href="?action=accept&lid={{i['login_id']}}">accept</a></td>

			<td><a href="?action=reject&lid={{i['login_id']}}">accept</a></td>

			{%endif %}
			
			
		</tr>
		{% endfor %}
	</table>
</form>

</center>
{% include 'footer.html' %}