{% include 'public_header.html' %}
<center>
<h1  style="color: white">Evaluator Registration</h1>
<form method="post" >
	<table  style="width:500px ;color: white">
		<tr>
			<th>Firstname</th>
			<td><input type="text" name="fname"  class="form-control" required="" pattern="[A-Z a-z]+"></td>
		</tr>
		<tr>
			<th>Lastname</th>
			<td><input type="text" name="lname" class="form-control" required="" pattern="[A-Z a-z]+"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" name="place" class="form-control" required=""></td>
		</tr>
		
		
		<tr>
			<th>Phone</th>
			<td><input type="text" name="phn" class="form-control" required="" pattern="[0-9]{10}" maxlength="10"></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><input type="email" name="mail" class="form-control" required="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><input type="text" name="uname" class="form-control" required=""></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="passw" class="form-control" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"></td>
		</tr>
		<tr>
			<td colspan="2" align="center" ><input type="submit" name="us" value="submit" class="btn btn-primary"></td>
		</tr>
	</table>
</form>
<center>

{%include  'footer.html' %}