{% include 'user_header.html' %}
<center>
<h1 style="color: white">View User Engaged</h1>

	<table class="table"  style=";color: white;width: 500px">
		<tr>
			<th>User Name</th>
			<th>Out</th>
			<!-- <th>Time</th>
			<th>Link</th> -->
			
		</tr>
		{% for i in data['view'] %}
		<tr>
			<td>{{i['fname']}} {{i['lname']}}</td>
			<td>{{i['out']}}</td>
			<!-- <td>{{i['time']}}</td>
			<td>{{i['link']}}</td> -->
			
			
		</tr>
		{% endfor %}
	</table>
</form>

</center>
{% include 'footer.html' %}