{%include 'user_header.html'%}

<center>
<table style=" width:400px;">
	<tr>
		<th>Coupon</th>
		<th>Details</th>
		<th>Status</th>
	</tr>
	{%for i in data['view']%}
	<tr>
		<td>{{i['coupons']}}</td>
		<td>{{i['details']}}</td>
		<td>{{i['sts']}}</td>
		<td><a href="?action=accept&cid={{i['crequest_id']}}&did={{i['coupons_id']}}">Accept</a></td>
		<td><a href="?action=reject&cid={{i['crequest_id']}}&did={{i['coupons_id']}}">Reject</a></td>

	</tr>
	{%endfor%}
</table>
</center>
{%include 'footer.html'%}